#key {
    pointer-events: none;
    border: 3px solid rgba(123, 23, 123, .1);
    font-family: monospace;
}

#key * {
    display: inline-block;
}

body * {
    background: white;
    border: 1px solid #eee;
    margin: 5px;
    position: relative;
}

body *[data-state~="clicked"] {
    border: 1px solid #666;
}

body *[data-state~="on"] {
    outline: 3px dotted rgba(255, 155, 155, .5);
}

body *[data-state~="active"] {
    background: rgba(0, 255, 50, 0.15);
}

body *[data-state~="previous"] {
    background: rgba(255, 255, 0, 0.1);
}

body *[data-state~="current"] {
    color: red;
    padding-right: 20px;
}

body *[data-state~="current"]:after {
    content: "*";
    position: absolute;
    top: 0%;
    right: 0%;
    color: red;
    font-size: 40px;
    height: 20px;
    width: 20px;
    line-height: 32px;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
}

*[data-state] {
    transition: all 0.3s;
}
*[data-state~="seen"] {
    background: rgba(100, 0, 100, 0.05);
}
*[data-state~="inview"] {
    background: rgba(0, 0, 0, 0.05);
}


/* eg1 */

section#eg1 > div > div {
    transition: all 0.5s;
    margin:0;
    height:0px; overflow:hidden;
}
section#eg1 > div[data-state~="on"] > div {
    height:100px;
}


/* eg2 */

section#eg2 > div > div {
    transition: all 0.5s;
    margin:0;
    height:0px; overflow:hidden;
}
section#eg2 > div[data-state~="active"] > div {
    height:100px;
}


/* eg3 */

section#eg3 > ul {
    box-sizing: border-box;
    display: black;
    position: relative;
    width: 100%;
    height: 200px;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

section#eg3 > ul > li {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid red;
    z-index: 1;
    background-color: #eee;
    animation: slide-out 0.8s forwards;
    -webkit-animation: slide-out 0.8s forwards;
    background: none no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size:2em; color:white; text-shadow:1px 1px black;
}


section#eg3 > #slide0trigger[data-state~="active"] ~ ul li#slide0,
section#eg3 > #slide1trigger[data-state~="active"] ~ ul li#slide1,
section#eg3 > #slide2trigger[data-state~="active"] ~ ul li#slide2 {
    z-index: 2;
    animation: slide-in 0.8s forwards;
    -webkit-animation: slide-in 0.8s forwards;
}


@keyframes slide-in {
    0% {
        transform: translateX(80%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    0% {
        -webkit-transform: translateX(80%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

section#eg4 > div {display:none;}
section#eg4 > a[href="#tab0"][data-state~="active"] ~ #tab0,
section#eg4 > a[href="#tab1"][data-state~="active"] ~ #tab1,
section#eg4 > a[href="#tab2"][data-state~="active"] ~ #tab2 {
    display:block;
}


